#demo
    .box
        padding: 50px 0 50px
        position: relative
        .minibox
            background-color: #4c81ea
            width: 220px
            height: 220px
            margin: 10px
            font-size: 20px
            padding: 8px 0 0 8px
            color: #ffffff
    .box2    
        position: absolute
        top: 520px 
        left: 290px
    .box1
        padding: 50px 0 50px 
        position: relative 
        .minibox
            width: 220px 
            height: 220px
            background-color: #639277
            margin: 15px
            color: #ffffff
            font-size: 20px
            padding: 8px 0 0 8px
    .box3
        position: absolute
        top: 60px
        left: 250px
    .box4
        position: absolute
        top: 290px
        left: 250px
    .box5
        padding: 50px 0 50px 
        position: relative 
        .minibox
            width: 220px 
            height: 220px
            background-color: #d598c8
            color: #ffffff
            margin: 15px
            font-size: 20px
            padding: 10px 0 0 10px
    .box6
        position: absolute
        top: 750px
        left: 500px
    .box7
        padding: 100px 0 100px 
        position: relative 
        .minibox
            width: 220px 
            height: 220px
            background-color: #d598c8 
            margin: 15px 0 
            color: #ffffff
            font-size: 20px
            padding: 10px 0 0 10px
        p
            width: 990px
            height: 80px
            color: #080808
            font-size: 25px
            margin: 140px 0  
    .box9
        position: fixed
        bottom: 550px
        right: 600px 
    .box8
        padding: 50px 0 50px 
        position: relative 
        .minibox
            width: 220px 
            height: 220px
            background-color: #d598c8 
            color: #ffffff
            font-size: 20px
            padding: 10px 0 0 10px
        p
            width: 990px
            height: 80px
            color: #080808
            font-size: 25px
            margin: 140px 0
    .box10
        position: absolute
        top: 405px
        left: 800px   
        