#demo
    .box
        padding: 50px 0 50px
        position: relative
        .minibox
            background-color: #7683f8
            width: 50px
            height: 50px
            margin: 2px
            font-size: 7px
            padding: 3px 0 0 3px
            color: #ffffff
    .box2    
        position: absolute
        top: 155px 
        left: 70px
    .box1
        padding: 50px 0 50px 
        position: relative 
        .minibox
            width: 50px 
            height: 50px
            background-color: #468577
            margin: 2px
            color: #ffffff
            font-size: 7px
            padding: 3px 0 0 3px
    .box3
        position: absolute
        top: 50px
        left: 70px
    .box4
        position: absolute
        top: 102px
        left: 70px
    .box5
        padding: 50px 0 50px 
        position: relative 
        .minibox
            width: 50px 
            height: 50px
            background-color: #eea5e8
            margin: 2px
            color: #ffffff
            font-size: 7px
            padding: 3px 0 0 3px
    .box6
        position: absolute
        top: 205px
        left: 130px
    .box7
        padding: 50px 0 50px 
        position: relative 
        .minibox
            width: 50px 
            height: 50px
            background-color: #eea5e8
            margin: 2px
            color: #ffffff
            font-size: 7px
            padding: 3px 0 0 3px
        p
            width: 395px
            height: 80px
            color: #080808
            font-size: 10px
    .box9
        position: fixed
        bottom: 200px
        right: 60px 
    .box8
        padding: 50px 0 50px 
        position: relative 
        .minibox
            width: 50px 
            height: 50px
            background-color: #eea5e8
            margin: 2px
            color: #ffffff
            font-size: 7px
            padding: 3px 0 0 3px
        p
            width: 395px
            height: 80px
            color: #080808
            font-size: 10px
    .box10
        position: absolute
        top: 130px
        left: 550px   
        